*{
    margin: 0;
    padding: 0;
}
body{
    background-color: black;
    font-family: Arial, sans-serif;
    color: white;
}
@import url('https://fonts.googleapis.com/css2?family=Anton&family=Poetsen+One&family=Radio+Canada+Big:ital,wght@0,400..700;1,400..700&display=swap');
.schedule-container {
    margin-top: 200px;
    width: 90%;
    margin: 0 auto;
    max-width: 1200px;
    background-color: #333;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
}

.schedule-container h1 {
    font-weight: bold;
    color:  #FFD700;  
  text-align: center;
}
.filter-container {
    margin-bottom: 20px;
    text-align: center;
    padding: 20px;
    background-color: #222; /* Fondo más oscuro para resaltar */
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    overflow: hidden; /* Evita que los elementos internos sobresalgan */
}

.filter-container label {
    font-weight: bold;
    color: #FFD700; /* Texto en color amarillo */
}

.filter-container select,
.filter-container input {
    padding: 10px;
    border: 1px solid #333; /* Borde más oscuro */
    border-radius: 5px;
    background-color: #444; /* Fondo más oscuro */
    color: #fff; /* Texto en color blanco */
    margin-right: 10px;
    font-size: 16px;
}

.filter-container button {
    padding: 12px 24px;
    background-color: #FFD700;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    color: #333;
    font-weight: bold;
    transition: background-color 0.3s ease;
    font-size: 16px;
}

.filter-container button:hover {
    background-color: #FFC107;
}


.schedule-table {
    width: 100%;
    border-collapse: collapse;
}

.schedule-table thead {
    background-color: #FFD700;
    color: #333;
}

.schedule-table th,
.schedule-table td {
    padding: 15px;
    text-align: left;
    border-bottom: 1px solid #555;
}

.schedule-table tbody tr:nth-child(even) {
    background-color: #444;
}

.schedule-table tbody tr:nth-child(odd) {
    background-color: #555;
}


@media screen and (max-width: 768px) {
    .filter-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
table{
    font-size: 10px;
}
    .filter-container label,
    .filter-container select,
    .filter-container input,
    .filter-container button {
        width: 100%;
        margin-bottom: 10px;
    }

    .filter-container button {
        margin-right: 0; /* Eliminamos el margen derecho para que el botón esté centrado */
    }
}

/* Estilos para dispositivos medianos y grandes */
@media screen and (min-width: 769px) {
    .filter-container {
        text-align: center;
    }

    .filter-container label {
        margin-right: 10px;
    }

    .filter-container select,
    .filter-container input {
        margin-right: 10px;
    }
}